#l1 {
    background-color:#9f95e7;
    font-family: sans-serif
}

#title {
    color:#1a0214;
}

#l2 {
    background-color:#db67f2
}
#p1 {
    background-color:#f17cd9;
}

#p2 {
    background-color: #f17cd9;
}

#p3 {
    background-color:#f17cd9;
}